<form [formGroup]="fg" (ngSubmit)="guardar(
								fg.controls['nombre'].value,
                                fg.controls['url'].value,
                                fg.controls['comentario'].value
					)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." [formControl]="fg.controls['nombre']">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div class="alert alert-danger" *ngIf="fg.controls['nombre'].hasError('required')"><i>Nombre Requerido</i></div>
        <div class="alert alert-danger" *ngIf="fg.controls['nombre'].hasError('invalidNombre')"><i>Nombre Invalido</i></div>
        <div class="alert alert-danger" *ngIf="fg.controls['nombre'].hasError('minLongNombre')"><i>Cantidad de Caracteres de {{minLongitud}} largo!</i></div>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." [formControl]="fg.controls['url']">
    </div>
    <div class="form-group">
        <label for="Comentario">Comentario</label>
        <input type="text" class="form-control" id="comentario" placeholder="Ingresar comentario..." [formControl]="fg.controls['comentario']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>